@import "mixin";

.btn-default {
  @include display(flex, center, center);
  background-color: transparent;
  border: none;
  cursor: none;
  &[data-size="large"] {
    padding: 16px 24px;
  }
  &[data-size="small"] {
    width: fit-content;
    padding: 8px 16px;
  }
  &[data-shape="primary-border"] {
    border: 1px solid var(--secondry-color);
    transition: 0.3s;
    &:hover {
      box-shadow: var(--secondry-low) 0px 10px 15px -2px,
        var(--secondry-low-level-2) 0px 5px 5px -2px;
    }
    &:active {
      transform: scale(0.8);
      background-color: var(--secondry-low);
    }
  }
  &[data-shape="secondry-border"] {
    border: 1px solid var(--text-color);
    transition: 0.3s;
    &:hover {
      box-shadow: #abb2bf26 0px 10px 15px -2px, #abb2bf12 0px 5px 5px -2px;
    }
    &:active {
      transform: scale(0.8);
      background-color: #abb2bf21;
    }
  }
}
