
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    .container{
        width: 90vw;
        max-width: 1150px;
    }
}

// ? add media query
@media screen and (max-width: 1107px) {
    .main{
        padding-top: 120px;
    }
}