.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: var(--white-color);
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid var(--text-color);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  inset: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2000;
  pointer-events: none;
}

@media screen and (max-width: 900px) {
  .cursor-dot,
  .cursor-outline {
    display: none;
  }
}
