.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: #ffff;
}

.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid grey;
}

.cursor-dot,
.cursor-outline{
    position: fixed;
   inset: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}