@import "mixin";

#footer{
    @include display(flex,space-between,center);
    flex-direction: column;
    gap: 48px;
    border-top: 2px solid #ABB2BF;
    padding: 32px 30px;
    .top-footer{
        @include display(flex,space-between,center);
        width: 100%;
        .left-footer{
            @include display(flex,space-between,start);
            flex-direction: column;
            gap: 14px;
            .left-email{
                gap: 25px;
                @include display(flex,space-between,center);
            }
            .carrier-text{
                color: #fff;
            }
        }
        .media-footer{
            h3{
                color: #fff;
                font-size: 24px;
            }
            .media-container{
                @include display(flex,start,center);
                .media-img{
                    @include display(flex,center,center);
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }

    // copyright part 
    #copy-right{
        @include display(flex,center,center);
        gap: 7px;
        width: 100%;
        .copy-right-logo{
            width: 16px;
        }
        p{
            font-size: 14px;
        }
    }
}

// * media queries 
@media screen and (max-width: 700px){

    #footer{
        gap: 23px;
        .top-footer{
            flex-direction: column;
            gap: 16px;
            .left-footer{
                width: 100%;
                font-size: 13px;
            }
        }
        #copy-right{
            .copy-right-logo{
                width: 12px;
            }
            p{
                font-size: 11px;
            }
        }
    }
}

@media screen and (max-width: 330px){
    .top-footer{
        .left-footer{
            align-items: center;
            .left-email{
                width: 100%;
                gap: 8px !important;
                flex-direction: column;
            }
            .carrier-text{
                width: 100%;
                text-align: center;
            }
        }
    }
}