

#header{
    width: 100%;
    padding: 0px 190px;
    height: 55px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #282C33;
    #logo-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60px;
        height: 21px;
        cursor: pointer;
        .logo-name{
            color: #fff;
            font-weight: 700;
            font-size: 16px;
        }
    }
    .nav-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nav-bar{
        display: flex;
        .li-nav{
            padding: 16px;
            font-size: 16px;
            cursor: pointer;
            font-weight: 600;
            .sharp-nav{
                color: #C778DD;
            }
            .text-nav{
                transition: .3s;
                color: #ABB2BF;
                &:hover{
                    color: #FFFFFF;
                }
            }
        }
    }
    .select-lang{
        background-color: #282C33;
        border: none;
        color: #ABB2BF;
        outline: none;
        .lang-item{
            border: none;
        }
    }
}