@import "mixin";

#hero-section{
    height: 483px;
    padding: 40px 0px;
    @include display(flex,space-between,center);
    .introduction-hero{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        .introduction-title{
            font-size: 32px;
            word-spacing: 7px;
            line-height: 36px;
            .colorPurpleSpan{
                color: #C778DD;
            }
        }
        .introduction-p{
            height: 50px;
            font-size: 16px;
            line-height: 25px;
            word-spacing: 3px;
            line-height: 20px;
        }
        .contactMeBtn{
            color: #fff;
        }
    }
    // profile part:
    .hero-image{
        height: 100%;
        .image-part{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            position: relative;
            height: 386px;
            .profile-image{
                position: absolute;
            }
            .shape-purple{
                width: 155px;
                height: 155px;
                grid-column-start: 1;
                grid-row-end: 4;
                z-index: -100;
                position: absolute;
                top: 80px;
                left: 0;
            }
            .shape-doted{
                width: 84px;
                height: 84px;
                grid-row-end: 5;
                grid-column-start: 4;
                position: absolute;
                top: 230px;
                left: 0;
            }
        }
        // currently working on 
        .currently-work{
            @include display(flex,start,center);
            width: 100%;
            border: 1px solid #ABB2BF;
            height: 37px;
            padding: 4px 12px;
            gap: 10px;
            max-width: 100%;

            .squar-color{
                width: 2vh;
                height: 2vh;
                background-color: #C778DD;
            }

            :nth-child(2){
                // background-color: red;
                font-size: 13px;
            }

            .working-on{
                height: 100%;
                color: #fff;
                width: 60%;
            }
        }
    }
}

// max width 
@media screen and (max-width: 1107px) {

    #hero-section{
        flex-direction: column;
        justify-content: center;

        // introduction-hero
        .introduction-hero{
            width: 100%;
            .contactMeBtn{
                display: none;
            }
        }
        // hero image part
        .hero-image{
            .profile-image{
            }
            .currently-work{
                // max-width: 100%;
                :nth-child(2){
                    // font-size: 13px;
                    }
                    .working-on{
                    // font-size: 10px;
                }
            }
        }
    }
}
