@import "mixin";

// style to top section of projects:
.projects-section {
  @include display(flex, start, start);
  gap: 48px;
  flex-direction: column;
  padding-top: 55px;

  .project-sec-top {
    @include display(flex, space-between, center);
    width: 100%;

    .left-part {
      min-width: 50%;
    }

    .view-all {
      padding: 5px;
      background: var(--primary-color);
    }
  }

  // project main part:
  .project-sec-main {
    gap: 16px;
    width: 100%;

    .card-project {
      @include display(flex, center, center);
      flex-direction: column;
      border: 1px solid var(--text-color);
      transition: all 1s;
      max-width: 100%;

      &:nth-child(n + 4) {
        display: none;
      }

      &:hover {
        background-color: var(--secondry-low);
      }

      .project-banner {
        height: 200px;
        width: 100%;
      }

      .tools-project {
        width: 100%;
        padding: 8px;
        border: 1px solid var(--text-color);
      }

      .description-title {
        max-width: 100%;
      }

      .description-project {
        @include display(flex, center, center);
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        max-width: 100%;

        .description-title {
          font-size: 24px;
          color: var(--white-color);
          width: 300px;
        }

        .btn-part {
          @include display(flex, start, center);
          gap: 16px;
          max-width: 100%;

          * {
            width: 100%;
          }
        }
      }
    }
  }
}

// ? swiper styles
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 365px;
}

@media screen and (min-width: 700px) {
  .projects-section {
    .project-sec-top {
      .view-all {
        max-width: 70%;
      }
    }
  }
}
