@import "mixin";

.list-project {
  padding: 40px 0px;
  @include display(flex, center, start);
  flex-direction: column;
  gap: 14px;
}

.projects-container {
  @include display(flex, start, start);
  flex-wrap: wrap;

  // project main part:
  .project-sec-main {
    padding: 40px 0px;
    @include display(flex, center, start);
    gap: 16px;
    flex-wrap: wrap;
    width: 100%;

    .card-project {
      @include display(flex, center, center);
      flex-direction: column;
      border: 1px solid var(--text-color);
      transition: all 1s;
      max-width: 100%;

      &:hover {
        background-color: var(--secondry-low);
      }

      .project-banner {
        height: 200px;
        max-width: 100%;
      }

      .tools-project {
        width: 100%;
        padding: 8px;
        border: 1px solid var(--text-color);
      }

      .description-title {
        max-width: 100%;
      }

      .description-project {
        @include display(flex, center, center);
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        max-width: 100%;

        .description-title {
          font-size: 24px;
          color: var(--white-color);
          width: 300px;
        }

        .btn-part {
          @include display(flex, start, center);
          gap: 16px;
          max-width: 100%;

          * {
            width: 100%;
          }
        }
      }
    }
  }
}

// mini projects style
.mini-projects {
  .mini-projects-card {
    padding: 40px 0px;
    @include display(flex, center, center);
    gap: 16px;
    flex-wrap: wrap;
    width: 100%;

    .card-project {
      @include display(flex, center, center);
      flex-direction: column;
      border: 1px solid var(--text-color);
      transition: all 1s;
      max-width: 100%;

      &:hover {
        background-color: var(--secondry-low);
      }

      .tools-project {
        width: 100%;
        padding: 8px;
        border: 1px solid var(--text-color);
      }

      .description-title {
        max-width: 100%;
      }

      .description-project {
        @include display(flex, center, center);
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        max-width: 100%;

        .description-title {
          font-size: 24px;
          color: var(--white-color);
          width: 300px;
        }

        .btn-part {
          @include display(flex, start, center);
          gap: 16px;
          max-width: 100%;

          * {
            width: 100%;
          }
        }
      }
    }
  }
}
