@import "mixin";



// style to top section of projects: 
.projects-section{
    @include display(flex,start,center);
    height: 518px;
    gap: 48px;
    flex-direction: column;
    .project-sec-top{
        @include display(flex,space-between,center);
        width: 100%;
        .left-part{
            @include display(flex,space-between,center);
            width: 730px;
            .title-sec-part{
                @include display(flex,start,center);
                font-size: 32px;
                .sharp-shape{
                    color: #C778DD;
                }
                .title-sec{
                    color: #fff;
                }
            }
            .line-head{
                width: 543px;
                height: 5px;
                background-color: #C778DD;
            }
        }
    }


    // project main part:
    .project-sec-main{
        @include display(flex,center,center);
        gap: 16px;
        flex-wrap: wrap
    }
}