::-webkit-scrollbar{
    width: 12px;
    z-index: 1;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#30ff00);
    border-radius: 6px;
}

::-webkit-scrollbar:hover{
    background: linear-gradient(transparent,#00c6ff);
}