@import "mixin";

.side-bar {
  background-color: var(--primary-color);
  position: fixed;
  height: 100vh;
  width: 50vw;
  z-index: 1100;
  display: none;
  animation: 1s moveSidebar;
  #nav-bar {
    .li-nav {
      padding: 16px;
      font-size: 16px;
      cursor: pointer;
      font-weight: 600;
      .sharp-nav {
        color: var(--secondry-color);
      }
      .text-nav {
        transition: 0.3s;
        color: var(--text-color);
        &:hover {
          color: var(--white-color);
        }
      }
    }
  }
}

.overlay {
  display: none;
  /* Initially hide the overlay */
  position: fixed;
  /* Fixed positioning */
  top: 0;
  /* Position from the top */
  left: 0;
  /* Position from the left */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  backdrop-filter: blur(5px);
  /* Blur effect */
  z-index: 2;
  /* Stack order, ensure overlay appears above other content */
}

// * close the sidebar
.hide-sidebar {
  // display: none;
  background-color: rgb(157, 255, 0);
  opacity: 0;
}

// * media query
// max-width 700px
@media screen and (max-width: 700px) {
  .side-bar {
    @include display(flex, start, start);
  }
}

//* animation for movement of sidebar
@keyframes moveSidebar {
  0% {
    left: -100px;
  }

  100% {
    left: 0px;
  }
}
