@import "mixin";


.left-part{
    @include display(flex,start,center);
    .title-sec-part{
        @include display(flex,start,center);
        font-size: 32px;
        .sharp-shape{
            color: #C778DD;
        }
        .title-sec{
            color: #fff;
        }
    }
    .line-head{
        margin-left: 10px;
        width: 30vw;
        height: 5px;
        background-color: #C778DD;
    }
}

