@import "fonts";
@import "root";
@import "mixin";
@import "reset-css";
@import "container";
@import "cursor";
@import "scrollBar";
@import "logoGenerator";
@import "top-section";
@import "header";
@import "sideBar";
@import "heroSection";
@import "quote";
@import "projects";
@import "button";
@import "skillSection";
@import "about-me";
@import "contacts";
@import "footer";

// projects page sass files
@import "projectsPage";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: none;
}
